* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(11px + 0.390625vw);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #222021 url('../img/home-bg.svg');
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    border-radius: 10px;
    padding: .7rem 2rem;
    font-size: 1.2rem;
    background-color: blueviolet;
    color: #F5F5F5;
    border: none;
    margin-top: 40px;
    transition: .3s;

    &:hover {
        background-color: blue;
    }
}

.title {
    font-weight: 500;
    font-size: 5rem;
    line-height: 115.4%;
    text-transform: uppercase;
    color: #F5F5F5;
    padding-left: 20%;
    padding-bottom: 1.5rem;
}

.active {
    color: #A3B8D7!important;
}