.contact {
    display: flex;
    margin: 4rem 0;
    color: #f5f5f5;

    &__left {
        width: 50%;

        .phone,
        .location {
            font-size: 2rem;
            margin-top: 2rem;
        }
    }

    &__right {
        width: 50%;

        img {
            width: 100%;
            cursor: pointer;
        }
    }

}